/* 
p {
    color: green;
}



The structure of the CSS file is as follows:

selector {
    property1: value1;
    property2: value2;
    property3: value3;
}

The selector is which element you want to style. The property is the CSS property 
you want to style. The value is the value of the property. We can also select multiple 
elements by using a comma separated list of selectors.

Property is for example color, background-color, font-size, etc. Value is the value 
we want to set the property to.

*/

/* 
What type of selectors are there?

There are the following types of selectors: 

    * Universal Selector
    * Tag Selector
    * Class Selector
    * ID Selector
    * Attribute Selector
    * Pseudo-class Selector
    * Pseudo-element Selector
    * Combined Selector

*/

/* This is a universal selector which selects all elements. */

/* * {
    color: black;
} */

/* This is a tag selector which selects a specific element. 

h2 {
    color: red;
} 

*/

/* This is a class selector which selects all elements with a specific class. 

.red-h1 {
    color: red;
}

.black-h1 {
    color: black;
}

*/

/* This is an ID selector which selects all elements with a specific ID. With a tag 
we select all the same elements. With the ID selector only the element with that 
specific ID. We should never use the same id for multiple elements. We can use class 
instead for that purpose 

#abc {
    color: red;
}

*/

/* This is an attribute selector which selects all elements with a specific attribute.  */
/* 
[drink] {
    color: blue;
} 


[drink="beer"] {
    color: blue;
}
*/

/* This is a pseudo-class selector which selects all elements with a specific pseudo-class.  

h1:hover {
    color: blue;
}

*/

/* This is a pseudo-element selector which selects all elements with a specific pseudo-element.  

An example of a pseudo-element selector is ::before. This is a pseudo-element selector


h1::first-letter {
    color: red;
}



/* This is a combined selector which selects all elements with a specific class and a specific attribute.  

There are four different combinators in CSS:

descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)



h1 p {
    color: red;
}


h1 > p {
    color: blue;
}


h1 + h1 {
    background-color: blue;
}


h1 ~ h1 {
    color: red;
}
*/

/* Specificity is an algorithm that calculates the weight 
that is applied to a given CSS declaration.   */

/* The hierarchy of specificity is the following:

!important
inline style
ID selector
Class selector
pseudo-class selector
attribute selector

tag selector
pseudo-element selector
*/
h1 {
    color: red;
}

#random {
    color: orange;
}
.text {
    color: blue;
}

