p {
    color: green;
}

/* 

The structure of the CSS file is as follows:

selector {
    property1: value1;
    property2: value2;
    property3: value3;
}

The selector is which element you want to style. The property is the CSS property 
you want to style. The value is the value of the property. We can also select multiple 
elements by using a comma separated list of selectors.

Property is for example color, background-color, font-size, etc. Value is the value 
we want to set the property to.

*/

/* 
What type of selectors are there?

There are the following types of selectors: 

    * Universal Selector
    * Tag Selector
    * Class Selector
    * ID Selector
    * Attribute Selector
    * Pseudo-class Selector
    * Pseudo-element Selector
    * Combined Selector

*/

/* This is a universal selector which selects all elements. */

* {
    color: black;
}
